# Custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Enable support for power management
CONFIG_ESP_WIFI_SLP_IRAM_OPT=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_80=y

# Status LED
CONFIG_STATUS_LED_DEFAULT_ENABLE=y
CONFIG_STATUS_LED_DEFAULT_GPIO=0
CONFIG_STATUS_LED_DEFAULT_ON=0

# Disable insecure TLS
CONFIG_MBEDTLS_SSL_PROTO_TLS1=n
CONFIG_MBEDTLS_SSL_PROTO_TLS1_1=n
