menu "Application config"
    config APP_CONFIG_MQTT_BUFFER_SIZE
        int "MQTT receive buffer size"
        default 2048
        help
            Whole sent and received json must fit into this buffer.
endmenu
