menu "Application config"
    config APP_DEVICE_NAME
        string "RainMaker device name"
        default "Fan Controller"

    config APP_DEVICE_TYPE
        string "RainMaker device type"
        default "esp.device.fan"

    config APP_CONTROL_LOOP_INTERVAL
        int "Main control loop interval in ms"
        default 1000
        help
            Interval in which temperatures are read and fan speed adjusted.
endmenu

menu "Hardware config"
    config HW_PWM_PIN
        int "Fan speed control PIN (PWM)"
        default 2

    config HW_PWM_INVERTED
        bool "Inverted PWM control"
        default 1

    config HW_RPM_PIN
        int "Fan RPM reporting PIN"
        default 32

    config HW_RPM_SAMPLES
        int "Fan RPM samples count"
        default 5
        help
            How many samples are used to smooth the RPM value.

    config HW_RPM_SAMPLING_INTERVAL
        int "Fan RPM sampling interval in ms"
        default 200

    config HW_DS18B20_PIN
        int "Sensors data PIN"
        default 15
endmenu
