name: platformio release

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v2.3.2
        with:
          python-version: 3.9
          
      - name: Install platformio
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
          
      - name: Check
        run: |
          platformio check
          
      - name: Build
        run: |
          platformio run -e release

      - name: Get the upload URL for a release
        uses: bruceadams/get-release@v1.2.3
        id: get_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload firmware.bin
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: .pio/build/release/firmware.bin
          asset_name: firmware.bin
          asset_content_type: application/octet-stream
